$blue-300: #B1AEE1;
$blue-400: #6E69B0;
$blue-500: #3E3B68;
$blue-600: #222139;
$blue-900: #14151F;

$white: #FFFFFF;

$gray-200: #D4DDE3;
$gray-300: #979CA9;
$gray-500: #717984;

$red-300: #D1879B;
$red-600: #F7114E;
$red-800: #931033;

